* {
  margin: 0;
  padding: 0;
}

@keyframes go-back {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80vw);
  }
  100% {
    transform: translateX(0);
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.main {
  background-color: #fa902f;
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  overflow-y: auto;
}

_::-webkit-full-page-media,
_:future,
:root .safari_only {
  display: block;
}

.footer {
  height: 5vh;
  background-color: black;
  color: white;
  text-align: center;
}

.header {
  color: white;
  text-align: center;
  padding: 0.2em;
  display: flex;
}

.logo {
  width: 20vw;
  background-color: white;
  border-radius: 100%;
  animation: spin 4s infinite linear;
}
.logo-div{
  animation: go-back 4s infinite reverse;
}
.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.login-page p {
  margin: 10px;
}

.login-page button {
  margin: 5em;
  background-color: black;
  color: white;
  padding: 1em 2em;
  min-width: 25%;
}

.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.home-page button[disabled]{
  background-color: #FA901B;
  color: gray;
}

.home-page p {
  margin: 10px;
}

.home-page button {
  margin: 1em;
  background-color: black;
  color: white;
  padding: 1em 2em;
  min-width: 25%;
}

.register-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.register-page .user-form {
  display: flex;
  justify-content: center;
}

.register-page .user-form fieldset {
  width: 80%;
  padding: 0.5em;
}

.register-page .user-form select {
  min-width: 60%;
}
.register-page .user-form button {
  margin: 0 1em;
}

.register-page .donation-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}
.register-page .donation-items .food {
  display: flex;
  justify-content: space-evenly;
}
.register-page .donation-items .food .donation-item {
  text-align: center;
}
.register-page .donation-items .food .donation-item input {
  width: 2em;
  text-align: center;
  margin: 0 10px;
}

.register-page .food .donation-item {
  margin: 0.3em;
}

.register-page .donation-others-items {
  display: flex;
  justify-content: space-evenly;
}

.register-page .donation-others-items button {
  flex-grow: 1;
  margin: 0.8em;
}

.back-next-buttons {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.back-next-buttons button {
  padding: 1em;
  background: none;
  border: none;
  font-weight: 800;
}

.register-page-disposable {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register-page-disposable .disposable-item {
  display: flex;
  margin: 0.8em;
  justify-content: space-between;
  font-size: large;
}

.register-page-disposable .disposable-item .disposable-item-name {
  width: 50%;
}
.register-page-disposable .disposable-item .disposable-item-quantity {
  width: 10%;
}
.register-page-disposable .disposable-item .disposable-item-unit {
  width: 15%;
}
.register-page-disposable .disposable-item .disposable-item-buttom {
  width: 10%;
}

.register-page-disposable .disposable-item select {
  font-size: inherit;
}

.register-page-disposable .disposable-item button {
  font-size: inherit;
  font-weight: bolder;
  background: none;
  border: none;
}

.register-page-disposable .disposable-item input {
  width: 10%;
  font-size: inherit;
}

.register-page-disposable .back-next-buttons {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.register-page-disposable .back-next-buttons button {
  padding: 1em;
  background: none;
  border: none;
  font-weight: 800;
}

.register-donor-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.register-donor-page .user-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.register-donor-page .displayErrors input:invalid {
  border-color: red;
}

.register-donor-page .user-form .user-form-options {
  display: inline-flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.register-donor-page .user-form [type='submit'] {
  margin-top: 1em;
  width: 50%;
  align-self: center;
}
.register-finish-page{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.register-finish-page .resume-items .resume-item{
  display: flex;
    justify-content: space-between;
}
.register-finish-page .resume-items .resume-item .resume-item-quantity{
  width: 30%;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 731px) {
  .home-page button {
    min-width: 50%;
  }
  .login-page button {
    min-width: 50%;
  }
  .register-donor-page .user-form .user-form-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .register-donor-page .user-form .user-form-options label input {
    width: 100%;
  }
}
