* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #fa902f;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  height: 5vh;
  background-color: black;
  color: white;
  text-align: center;
}

.header {
  color: white;
  text-align: center;
  padding: 0.2em;
  display: flex;
}
.logo{
  width: 20vw;
  background-color: white;
  border-radius: 100%;
}

.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.login-page p {
  margin: 10px
}

.login-page button {
  margin: 5em;
  background-color: black;
  color: white;
  padding: 1em 2em;
  min-width: 25%;
}

.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.home-page p {
  margin: 10px
}

.home-page button {
  margin: 1em;
  background-color: black;
  color: white;
  padding: 1em 2em;
  min-width: 25%;
}

@media only screen and (max-width:640px) {
  .home-page button {
    min-width: 50%;
  }
  .login-page button {
    min-width: 50%;
  }
}